@model List<TimeSlot>
@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="text-center mb-5">Randevu Zaman Dilimleri</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateTimeSlot">Yeni Zaman Dilimi Ekle</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>SalonId</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>IsAvailable</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeslot in Model)
        {
            <tr>
                <td>@timeslot.Id</td>
                <td>@timeslot.SalonId</td>
                <td>@timeslot.StartTime</td>
                <td>@timeslot.EndTime</td>
                <td>@timeslot.IsAvailable</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="EditTimeSlot" asp-route-id="@timeslot.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="DeleteTimeSlot" asp-route-id="@timeslot.Id" onclick="return confirm('Emin Misiniz?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
